.settings-page-container {
    background-image: url('../../images/basketballIMG.jpg') !important;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}
.settings-page-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 43, 79, .5);
    z-index: 1;
}

.btn-home {
    padding: 0.625rem 1.25rem;
    background-color: cornsilk; /* Bootstrap blue */
    color: black;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

.settings-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(63, 68, 68, 0.7);
    padding: 1.875rem;
    gap: 4.375rem; /* Increased gap */
    max-width: 80%; /* Adjusted max-width for larger container */
    border-radius: 1.25rem; /* Added rounded corners */
    z-index: 2;
}

.settings-button-container h1 {
    color: cornsilk; /* Change this to your desired color */
    margin-top: 0; /* Remove top margin */
    margin-bottom: 1.25rem; /* Adjust bottom margin as needed */
    text-align: center;
    font-size: 3.0rem; /* Increased font size */
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1.875rem; /* Increased gap */
}

.export-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* Increased spacing between export buttons */
}

.btn-JSON:hover {
    background-color: rgba(23, 43, 79, .8);
    color: cornsilk;
}

.btn-CSV:hover {
    background-color: rgba(23, 43, 79, .8);
    color: cornsilk;
}

.btn {
    border: 0.0625rem solid cornsilk;
    color: cornsilk;
    background-color: rgba(200,157,70, .8);
    display: block;
    padding: 1.25rem 2.5rem; /* Increased padding for bigger buttons */
    font-size: 1.5rem; /* Increased font size */
    border-radius: 0.625rem; /* Increased border radius */
    cursor: pointer;
}

.Register-btn:hover {
    background-color: rgba(23, 43, 79, .8);
    color: cornsilk;
}

.register-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-content {
  background-color: rgba(63, 68, 68, .7) !important;
  border-radius: .5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornsilk;
  border: 0.0625rem solid #ccc;
  padding: 1.25rem;
  transition: opacity .5s ease !important; /* Smooth transition for opacity */
  }
  
.closeReg-button {
    position: absolute;
    top: 0.1875rem;
    right: 0.3125rem;
    background: none !important;
    border: none !important;
    color: cornsilk !important;
    font-size: 1.25rem;
    cursor: pointer;
}

.closeReg-button:hover {
    color: grey !important;
  }
  
.submitReg-button  {
    background-color: #C89D46; /* example color */
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: .5rem 1rem; /* Adjust padding to change the size of the button */
    text-align: center;
    border-radius: 0.625rem;
    margin: 0.625rem 1.25rem; /* Increased margin for more space between buttons */
    display: inline-block; /* This makes sure margins work correctly */
    transition: background-color 0.3s, transform 0.3s; 

  }
.submitReg-button:hover {
    background-color: #C89D46 !important;
    transform: scale(1.01);
}

.season:hover{
    background-color: rgba(23, 43, 79, .8);
    transform: scale(1.01);
}

.customize-team-colors:hover{
    background-color: rgba(23, 43, 79, .8) !important;
    transform: scale(1.01);
}