.settings-page-container {
    background: url('../../images/homepageWBB.jpeg') !important;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.btn-home {
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.settings-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(63, 68, 68, .7);
    padding: 30px;
    gap: 70px; /* Increased gap */
    max-width: 80%; /* Adjusted max-width for larger container */
    border-radius: 20px; /* Added rounded corners */
}

.settings-button-container h1 {
    color: #FFFF; /* Change this to your desired color */
    margin-top: 0; /* Remove top margin */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    text-align: center;
    font-size: 3.0rem; /* Increased font size */
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 30px; /* Increased gap */
}

.export-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increased spacing between export buttons */
}

.btn-JSON:hover {
    background-color: #EECF08;
    color: #FFFF;
}

.btn-CSV:hover {
    background-color: #EECF08;
    color: #FFFF;
}

.btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(63, 68, 68, .7);;
    display: block;
    padding: 20px 40px; /* Increased padding for bigger buttons */
    font-size: 1.5rem; /* Increased font size */
    border-radius: 10px; /* Increased border radius */
    cursor: pointer;
}

.Register-btn:hover {
    background-color: #EECF08;
    color: #FFFF;
}

.register-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-content {
  background-color: rgba(63, 68, 68, .7) !important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  transition: opacity .5s ease !important; /* Smooth transition for opacity */
  }
  
.closeReg-button {
    position: absolute;
    top: 3px;
    right: 5px;
    background: none !important;
    border: none !important;
    color: white !important;
    font-size: 20px;
    cursor: pointer;
}

.closeReg-button:hover {
    color: grey !important;
  }
  
.submitReg-button  {
    background-color: #FFDD00; /* example color */
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 8px 16px; /* Adjust padding to change the size of the button */
    text-align: center;
    border-radius: 10px;
    margin: 10px 20px; /* Increased margin for more space between buttons */
    display: inline-block; /* This makes sure margins work correctly */
    transition: background-color 0.3s, transform 0.3s; 

  }
.submitReg-button:hover {
    background-color: #EECF08 !important;
    transform: scale(1.01);
}

.season:hover{
    background-color: #EECF08;
    transform: scale(1.01);
}

.customize-team-colors:hover{
    background-color: #EECF08 !important;
    transform: scale(1.01);
}