
/* 

Layout containers 

*/
.practice-container{
    background-image: url('../../images/basketballIMG.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 1.25rem;
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: auto auto; /* Adjusted for better spacing */
    overflow: hidden;
    z-index: 1;
}
.practice-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 43, 79, .5);
    z-index: -1;
  }
  
  .btn-home {
    padding: 0.625rem 1.25rem;
    background-color: rgba(200,157,70, 1); /* Bootstrap blue */
    color: cornsilk;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}
.drills-column {
    display: flex;
    flex-direction: column;
    height: calc(35vw);
    width: calc(30vw);
    background-color: rgba(200,157,70, .5);
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 5);
}
.create-sessions-container {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    gap: 1.25rem;
    height: calc(45vw);  /* Adjust based on header/footer height */
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row-reverse;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 5);
}

/* Ensures that the session information stays at the bottom */
.session-information {
    margin-top: auto;
    padding-bottom: 0.625rem; /* Optional padding for spacing */
}

.lists-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(68vw);
    background-color: rgba(200,157,70, .5);
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 5);
}

/* 

Session Information

*/
.session-inputs{
    background-color: rgba(200,157,70, .5);
    color: grey;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9em;
    margin-bottom: 1.25rem;
}

.create-session-button {
    background-color: rgba(200,157,70, .5);
    color: grey;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9em;
    margin-bottom: 1.25rem;
}

.date {
    background-color: rgba(200,157,70, .5);
    color: grey;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9em;
    margin-bottom: 1.25rem;
}

.add-session-info{
    background-color: rgba(200,157,70, .5);
    color: grey;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9em;
    margin-bottom: 1.25rem;
}

.create-session-button {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: rgba(200,157,70, .5);
    color: grey;
    border: none;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.create-session-button:hover{
    background-color: grey;
    transform: translateY(-0.125rem);
}

.create-session-button:focus {
    background-color: grey;
    transform: translateY(-0.125rem);
}

.create-session-button:active {
    transform: translateY(0.0625rem);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
}

/* SessionButtons.css */
.input-field {
    padding: 0.625rem;
    border: 0.0625rem solid cornsil;
    border-radius: 0.3125rem;
    width: 100%;
}

.input-field:focus {
    border-color: grey;
    box-shadow: 0 0 0.3125rem rgba(80, 50, 145, 0.5);
}

.add-button {
    background-color: rgba(200,157,70, .5);
    color: grey;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: grey;
}

.input-icon {
    margin-right: 0.3125rem;
}



/*

Team Selection Lists
    
*/
.list {
    width: 50%; /* Adjusted for side-by-side layout */
    background-color: rgba(200,157,70, .8);
    padding: 0.625rem;
    border-radius: 0.5rem;
    margin: 0 0.625rem; /* Space between lists */
    overflow-y: auto; /* Allow vertical scrolling */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
}

.list h2 {
    font-size: 1.5em;
    color: cornsilk;
    margin-bottom: 0.9375rem;
    
}

.player-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.dropdown {
    flex-grow: 1;
    margin-right: 0.625rem;
    border: 0.0625rem solid grey;
    border-radius: 0.25rem;
    padding: 0.625rem;
    width: 100%;
}

.remove-player-button {
    flex-grow: 1;
    margin-right: 0.625rem;
    border: 0.0625rem solid grey;
    border-radius: 0.25rem;
    padding: 0.625rem;
    width: 100%;
}

.add-dropdown-button{
    background-color: rgba(23, 43, 79,1);;
    color: cornsilk;
    padding: 0.4375rem;
    justify-content: center;
    height: calc(3.5vw);
    width: calc(30vw);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 0.78125rem;
}
.remove-player-button {
    padding: 0.625rem;
    height: calc(3vw);
    width: calc(2vw);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
}

.dropdown {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2em;
    border: 0.0625rem solid cornsilk;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
}

.dropdown select {
    width: auto;
    max-width: 100%;
    padding: 0.5rem 0.75rem;
    border: 0.0625rem solid cornsilk;
    border-radius: 0.25rem;
    background-color: grey;
    color: grey;
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
}

.remove-player-button {
    width: auto;
    padding: 0.5rem 0.625rem;
    font-size: 0.9em;
    margin-left: 0.625rem;
    vertical-align: middle;
    background-color: #ec2e19;
    color: cornsilk;
}

.remove-player-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.add-dropdown-button:hover{
    background-color: black;
}

.remove-player-button:hover{
    background-color: black;
}



/* Drill List */
.drill-list {
    flex-grow: 1;  /* Allows drill list to use available space */
    overflow-y: auto; /* Makes only the drill list scrollable */
    max-height: calc(100%); /* Adjust based on your session-information height */
}

.drill-list ul {
    padding: 0; /* Removes padding */
}

.drill-list li {
    list-style-type: none; /* Removes bullet points */
    margin-bottom: 0.625rem; /* Space between items */
}

.drill-card {
    padding: 0.625rem;
    border: 0.0625rem solid cornsilk;
    border-radius: 0.3125rem;
    width: 100%;
}

.drill-card:focus {
    border-color: grey;
    box-shadow: 0 0 0.3125rem rgba(80, 50, 145, 0.5);
}

/* Drill Buttons */
.delete-drill-button {
    width: auto;
    padding: 0.5rem 0.625rem;
    font-size: 0.9em;
    margin-left: 0.625rem;
    border-radius: 15%;
    vertical-align: middle;
    color: cornsilk;
}

.edit-drill-button {
    width: auto;
    padding: 0.5rem 0.625rem;
    font-size: 0.9em;
    margin-left: 0.625rem;
    border-radius: 15%;
    vertical-align: middle;
    color: cornsilk;
}

.drill-button {
    background-color: rgba(200,157,70, .5);
    color: cornsilk;
    padding: 1.25rem 1.875rem; /* Increase padding for larger button size */
    font-size: 1.5em; /* Increase font size for better readability */
    border: none;
    border-radius: 0.5rem; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.625rem; /* Space between buttons */
    width: 100%; /* Full width to utilize space */
    display: flex; /* Flex display to align text properly */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    height: calc((100% - 1.25rem) / 5); /* Set a fixed height to ensure uniformity */
}

.edit-drill-button {
    background-color: #ebcf55; /* Yellow for edit actions */
}

.delete-drill-button {
    background-color: #e74c3c; /* Red for delete actions */
}

.delete-drill-button:hover {
    background-color: black;
}

.drill-button:hover{
    background-color: black;
}
.add-drill-button:hover{
    background-color: black;
}

.delete-drill-button:hover {
    background-color: #c0392b; /* Darker shade for hover on delete button */
}

/* Drill Cards and Session Information Styling */
.drill-buttons {
    padding: 1.25rem;
    background-color: rgba(200,157,70, .8);
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
}

.session-information {
    padding: 1.25rem;
    background-color: rgba(200,157,70, .8);
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
}

.add-drill-button {
    background-color: rgba(23, 43, 79, 1);
    color: cornsilk; 
    padding: 0.4375rem;
    font-size: 0.78125rem;
    border: none;
    border-radius: 0.25rem;
    height: calc(3.5vw);
    width: calc(23.5vw);
    cursor: pointer;
    display: block;
    margin-top: 0.625rem;
    margin-left: 5%;
    margin-right: 5%;
    transition: background-color 0.3s ease;
}

.add-drill-button:hover {
    background-color: black;
    transform: translateY(-0.125rem);
}

/* Drill Modal Styling */
.drill-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for focus */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the modal content vertically and horizontally */
}

.drill-modal-content {
    background: rgba(200,157,70, .5);
    padding: 1.25rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drill-modal-content h2 {
    font-size: 1.8em;
    color: cornsilk; /* Use the header color variable */
    margin-bottom: 1.25rem;
}   

.drill-modal-content label {
    font-size: 1.2em;
    margin-bottom: 0.625rem;
    width: 100%; /* Full width for labels */
    color: cornsilk; /* Dark color for text */
}

.drill-modal-content input[type="text"] {
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    width: 100%; /* Full width for inputs */
    border: 0.0625rem solid cornsilk;
    border-radius: 0.25rem;
    font-size: 1em; /* Readable font size */
}

.drill-modal-content button {
    padding: 0.625rem 1.25rem;
    margin-top: 0.625rem;
    width: calc(70% - 1.25rem); /* Half width minus padding */
    background-color: #27ae60;
    color: cornsilk;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0.625rem;
    font-size: 1em;
}

.drill-modal-content button:hover {
    background-color: black; /* Darker on hover */
}

/* Separate styling for the cancel button to differentiate it */
.drill-modal-content button:last-child {
    background-color: #e74c3c; /* Red for cancel */
}

.drill-modal-content button:last-child:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Save Session Button */
.create-session-button {
    position: fixed;
    width: calc(28vw);
    height: calc(8vw);
    bottom: 2.5rem;
    right: 1.25rem; /* Adjust this if it's too far to the right */
    background-color: rgba(200,157,70, .5); /* Using primary color variable */
    color: cornsilk; /* Using light text color variable for contrast */
    border: none;
    border-radius: 0.25rem;
    padding: 1.875rem; /* Adjusted padding for a better proportion */
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Added box-shadow to transition for a smoother effect */
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 5);
}

.create-session-button:hover {
    background-color: black; /* Slightly darker on hover/focus */
    transform: translateY(-0.1875rem); /* Increased the translateY effect slightly for more noticeable interaction */
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15); /* Enhanced shadow for elevated effect */
}

create-session-button:focus {
    background-color: var(--hover-color); /* Slightly darker on hover/focus */
    transform: translateY(-0.1875rem); /* Increased the translateY effect slightly for more noticeable interaction */
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15); /* Enhanced shadow for elevated effect */
}

.create-session-button:active {
    transform: translateY(0.0625rem); /* Mimic button press effect */
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); /* Deeper shadow to simulate being pressed down */
}

/* Responsive styles for smaller screens */
@media (max-width: 48rem) {
    .create-sessions-container {
        flex-direction: column;
    }
    .drills-column {
        flex-direction: column;
    }
    .lists-column {
        flex-direction: column;
    }

    .drills-column {
        width: 100%;
        margin-top: 0.625rem;
    }

    .lists-column {
        width: 100%;
        margin-top: 0.625rem;
    }
}

@media (max-width: 30rem) {
    .tab-list-item {
        padding: 0.3125rem;
        font-size: 0.8em;
    }
    .create-session-button {
        padding: 0.3125rem;
        font-size: 0.8em;
    }
    .drill-modal-content {
        padding: 0.3125rem;
        font-size: 0.8em;
    }
}
