
/* 

Layout containers 

*/
.practice-container{
    background: url('../../images/homepageWBB.jpeg') no-repeat center center;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
.practice-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
    z-index: -1;
  }
.drills-column {
    display: flex;
    flex-direction: column;
    height: calc(40vw);
    width: calc(30vw);
    background-color: rgba(63, 68, 68, .7);
    padding: 10px;
    border-radius: 10px;
}
.create-sessions-container {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    gap: 20px;
    height: calc(45vw);  /* Adjust based on header/footer height */
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row-reverse;
}

/* Ensures that the session information stays at the bottom */
.session-information {
    margin-top: auto;
    padding-bottom: 10px; /* Optional padding for spacing */
}

.lists-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(68vw);
    background-color: rgba(63, 68, 68, .7);
    padding: 10px;
    border-radius: 8px;
}

/* 

Session Information

*/
.session-inputs{
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.create-session-button {
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.date {
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.add-session-info{
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.create-session-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.create-session-button:hover{
    background-color: grey;
    transform: translateY(-2px);
}

.create-session-button:focus {
    background-color: grey;
    transform: translateY(-2px);
}

.create-session-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* SessionButtons.css */
.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-field:focus {
    border-color: grey;
    box-shadow: 0 0 5px rgba(80, 50, 145, 0.5);
}

.add-button {
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: grey;
}

.input-icon {
    margin-right: 5px;
}



/*

Team Selection Lists
    
*/
.list {
    width: 50%; /* Adjusted for side-by-side layout */
    background-color: rgba(63, 68, 68, .9);
    padding: 10px;
    border-radius: 8px;
    margin: 0 10px; /* Space between lists */
    overflow-y: auto; /* Allow vertical scrolling */
}

.list h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
    
}

.player-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.remove-player-button {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.add-dropdown-button{
    background-color: #27ae60;
    color: white;
    padding: 7px;
    justify-content: center;
    height: calc(3.5vw);
    width: calc(30vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 12.5px;
}
.remove-player-button {
    padding: 10px;
    height: calc(3vw);
    width: calc(2vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
}

.dropdown {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.dropdown select {
    width: auto;
    max-width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: grey;
    color: grey;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.remove-player-button {
    width: auto;
    padding: 8px 10px;
    font-size: 0.9em;
    margin-left: 10px;
    vertical-align: middle;
    background-color: #ec2e19;
    color: white;
}

.remove-player-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.add-dropdown-button:hover{
    background-color: black;
}

.remove-player-button:hover{
    background-color: black;
}



/* Drill List */
.drill-list {
    flex-grow: 1;  /* Allows drill list to use available space */
    overflow-y: auto; /* Makes only the drill list scrollable */
    max-height: calc(100%); /* Adjust based on your session-information height */
}

.drill-list ul {
    padding: 0; /* Removes padding */
}

.drill-list li {
    list-style-type: none; /* Removes bullet points */
    margin-bottom: 10px; /* Space between items */
}

.drill-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.drill-card:focus {
    border-color: grey;
    box-shadow: 0 0 5px rgba(80, 50, 145, 0.5);
}

/* Drill Buttons */
.delete-drill-button {
    width: auto;
    padding: 8px 10px;
    font-size: 0.9em;
    margin-left: 10px;
    border-radius: 15%;
    vertical-align: middle;
    color: white;
}

.edit-drill-button {
    width: auto;
    padding: 8px 10px;
    font-size: 0.9em;
    margin-left: 10px;
    border-radius: 15%;
    vertical-align: middle;
    color: white;
}

.drill-button {
    background-color: rgba(63, 68, 68, .7);
    color: grey;
    padding: 20px 30px; /* Increase padding for larger button size */
    font-size: 1.5em; /* Increase font size for better readability */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Space between buttons */
    width: 100%; /* Full width to utilize space */
    display: flex; /* Flex display to align text properly */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    height: calc((100% - 20px) / 5); /* Set a fixed height to ensure uniformity */
}

.edit-drill-button {
    background-color: #ebcf55; /* Yellow for edit actions */
}

.delete-drill-button {
    background-color: #e74c3c; /* Red for delete actions */
}

.delete-drill-button:hover {
    background-color: black;
}

.drill-button:hover{
    background-color: black;
}
.add-drill-button:hover{
    background-color: black;
}

.delete-drill-button:hover {
    background-color: #c0392b; /* Darker shade for hover on delete button */
}

/* Drill Cards and Session Information Styling */
.drill-buttons {
    padding: 20px;
    background-color: rgba(63, 68, 68, .9);
    border-radius: 8px;
    margin-bottom: 10px;
}

.session-information {
    padding: 20px;
    background-color: rgba(63, 68, 68, .9);
    border-radius: 8px;
    margin-bottom: 10px;
}

.add-drill-button {
    background-color: #27ae60;
    color: white; 
    padding: 7px;
    font-size: 12.5px;
    border: none;
    border-radius: 4px;
    height: calc(3.5vw);
    width: calc(23.5vw);
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    transition: background-color 0.3s ease;
}

.add-drill-button:hover {
    background-color: black;
    transform: translateY(-2px);
}

/* Drill Modal Styling */
.drill-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for focus */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the modal content vertically and horizontally */
}

.drill-modal-content {
    background: rgba(63, 68, 68, .7);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%; /* Responsive width, max 400px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drill-modal-content h2 {
    font-size: 1.8em;
    color: white; /* Use the header color variable */
    margin-bottom: 20px;
}   

.drill-modal-content label {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%; /* Full width for labels */
    color: white; /* Dark color for text */
}

.drill-modal-content input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%; /* Full width for inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em; /* Readable font size */
}

.drill-modal-content button {
    padding: 10px 20px;
    margin-top: 10px;
    width: calc(70% - 20px); /* Half width minus padding */
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    font-size: 1em;
}

.drill-modal-content button:hover {
    background-color: black; /* Darker on hover */
}

/* Separate styling for the cancel button to differentiate it */
.drill-modal-content button:last-child {
    background-color: #e74c3c; /* Red for cancel */
}

.drill-modal-content button:last-child:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Save Session Button */
.create-session-button {
    position: fixed;
    width: calc(27vw);
    height: calc(8vw);
    bottom: 20px;
    right: 40px; /* Adjust this if it's too far to the right */
    background-color: rgba(63, 68, 68, .7); /* Using primary color variable */
    color: white; /* Using light text color variable for contrast */
    border: none;
    border-radius: 4px;
    padding: 30px; /* Adjusted padding for a better proportion */
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Added box-shadow to transition for a smoother effect */
}

.create-session-button:hover {
    background-color: black; /* Slightly darker on hover/focus */
    transform: translateY(-3px); /* Increased the translateY effect slightly for more noticeable interaction */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow for elevated effect */
}

create-session-button:focus {
    background-color: var(--hover-color); /* Slightly darker on hover/focus */
    transform: translateY(-3px); /* Increased the translateY effect slightly for more noticeable interaction */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow for elevated effect */
}

.create-session-button:active {
    transform: translateY(1px); /* Mimic button press effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Deeper shadow to simulate being pressed down */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .create-sessions-container {
        flex-direction: column;
    }
    .drills-column {
        flex-direction: column;
    }
    .lists-column {
        flex-direction: column;
    }

    .drills-column {
        width: 100%;
        margin-top: 10px;
    }

    .lists-column {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .tab-list-item {
        padding: 5px;
        font-size: 0.8em;
    }
    .create-session-button {
        padding: 5px;
        font-size: 0.8em;
    }
    .drill-modal-content {
        padding: 5px;
        font-size: 0.8em;
    }
}
