.login-page-container {
    background-color: rgba(255, 255, 255, .36);
    background-image: url('../../images/hooper.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    margin: 0 auto;
    padding: 20px;
    display: grid;
    place-items: center;
    text-align: center;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(63, 68, 68, .7);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5);
    
  }
  form h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  form input {
    width: 45dvh;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(63, 68, 68, .5);
    color: white;
  }
  form input::placeholder {
    color: white;
    opacity: 1;
    font-weight: bold;
}

input:focus {
    outline: none; /* Removes the default outline */
    border: 2px solid #ffdd00; /* Change this color to your preferred focus color */
}

  form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #ffffff!important;
    color: #000000;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
  }
  form button:hover {
    background-color: #FFDD00;
  }
  form p {
    margin-top: 20px;
  }
  .error {
    color: #ff4f4f;
    font-weight: bold;
}
.error:hover {
  color: #ff4f4f;    ;
}
.switch {
  text-align: left !important;
  color: white;
  font-weight: bold;
}
.regular-text {
    font-weight: normal;
}

.bold-text {
    font-weight: bold;
}

.switch:hover {
  color: #FFDD00;
  text-decoration: underline;
}