/* MainLayout.css */
:root {
    --gold: #ecd852; /* Adjust to the exact shade of gold you're using */
    --purple: grey; /* Adjust to the exact shade of purple you're using */
    --header-height: 60px; /* Header height */
}

.main-layout {
    /*background: url(../images/homepageWBB.jpeg) no-repeat center center/cover;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Full viewport height */
}




.page-content {
    flex: 1;
    overflow-y: auto; /* Allows for scrolling within content area if necessary */
    box-sizing: border-box; /* Include padding and borders in width and height */
}


.menu-item, a {
    color: var(--gold);
    text-decoration: none;
    padding: 0.625rem;
    display: block;
}

.menu-item:hover, a:hover {
    color: var(--purple);
}

.main-layout-content a {
    color: var(--gold);
    border-bottom: 1px dashed var(--gold);
}

.main-layout-content a:hover {
    border-bottom: 1px solid var(--purple);
}

.react-router-link {
    color: var(--gold);
    text-decoration: none;
}

.react-router-link:hover {
    color: var(--purple);
    text-decoration: underline;
}

.navbar, .sidebar {
    background-color: var(--purple);
    color: var(--gold);
    padding: 15px;
}

.navbar-item, .sidebar-item {
    padding: 0.625rem 0;
}

.navbar-item:hover, .sidebar-item:hover {
    background-color: var(--gold);
    color: var(--purple);
}

.main-layout-footer {
    background-color: var(--gold);
    color: var(--purple);
    padding: 0.625rem;
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.25rem;
}

.HamburgerMenu {
    flex-shrink: 0; /* Prevents the HamburgerMenu from shrinking */
    margin-right: auto; /* Ensures it stays on the left */
}

.center-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1.25rem;
}

.practice-date {
    color: var(--gold);
    font-size: 1em;
    padding: 0.3125rem 0.625rem;
    background-color: var(--purple);
    border: 1px solid var(--gold);
}

.practice-select, .drill-select {
    background-color: var(--gold);
    color: var(--purple);
    border: 1px solid var(--purple);
    padding: 0.3125rem 0.625rem;
    font-size: 1em;
    cursor: pointer;
    min-width: 150px;
}

.practice-select:hover, .drill-select:hover {
    background-color: var(--purple);
    color: var(--gold);
    border-color: var(--gold);
}
