.create-season {
  background-color: rgba(23, 43, 79, .8); /* Dark blue background */
  background-image: url('../../images/basketballIMG.jpg') !important; /* Basketball image */
  background-size: cover;
  position: fixed;
  height: calc(100vh);
  width: calc(100vw);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.create-season .btn-home {
  padding: 10px 20px;
  background-color: #172B4F !important; /* Bootstrap blue */
  color: cornsilk;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.top-right-button {
  position: absolute; /* Allows precise placement */
  top: 10px;          /* Distance from the top */
  right: 10px;        /* Distance from the right */
  z-index: 1000;      /* Ensures it stays on top of other elements */
}

.create-season::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(23, 43, 79, .8);
    z-index: -1;
}

.create-season h1,
.create-season label,
.create-season small,
.create-season input,
.create-season button :not(.btn-home),
.player-list-item {
  color: cornsilk;
}

.create-season input::placeholder {
  color: cornsilk; /* Darker color for placeholder text for contrast */
  opacity: 1; /* Make placeholder fully visible */
}

.form-container-season {
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-container-season form {
  font-weight: bold;
  text-align: center;
  background-color: rgba(63, 68, 68, .7);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5);
  height: calc(62vh)
}

/* Styling for the player list container */

.player-list-container {
  flex-basis: 50%;
  margin: auto;
  padding: 20px;
  background-color: rgba(63, 68, 68, .7);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5);
  height: calc(62vh);
}

.player-list-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: cornsilk solid 1px;
}

.player-info {
  flex: 1;
}

.player-actions {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
}

/*
  Styling for the edit and delete button in player-list-item
*/
.btnEdit,
.btnDelete {
  padding: 5px 10px;
  cursor: pointer;
}

div.player-actions .btnEdit {
  background-color: #f0ad4e;
}
div.player-actions .btnDelete {
  background-color: #ff0000;
}

div.player-actions .btnEdit:hover {
  background-color: #f0ad4e;
  opacity: 0.4;
}
div.player-actions .btnDelete:hover {
  background-color: #ff0000;
  opacity: 0.4;
}
/* End of player-list-item styling */

.player-input label,
.player-input input,
.player-input button {
  display: block;
  margin-bottom: 5px;
}

.player-input {
  margin-bottom: 15px;
  background: rgba(200,157,70, .8);
  padding: 10px;
  border-radius: 5px;
}

.create-season input[type="text"],
.create-season input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid cornsilk;
}

.create-season input:focus{
    outline: none; /* Removes the default outline */
    border: 2px solid #ffdd00; /* Change this color to your preferred focus color */
}
.create-season button :not(.btn-home) {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: cornsilk; /* Blue background for the button */
  color: black; /* White text for contrast */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-season button:hover :not(.btn-home) {
  background-color: #0056b3;
}

/* Additional styles for delete and edit buttons for better visibility */
.create-season .delete-button,
.create-season .edit-button {
  background-color: #ff0000; /* Red background for delete button */
  color: cornsilk; /* White text for contrast */
  padding: 5px 10px;
  margin-left: 10px;
}

.create-season .edit-button {
  background-color: #f0ad4e; /* Orange background for edit button */
}

.jersey-error {
  color: #ff0000; /* Red color for error messages */
  margin-top: 5px;
  margin-bottom: 10px;
}
