.create-season {
  background-size: cover;
  position: fixed;
  height: calc(100vw);
  width: calc(100vw);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.btn-home {
    padding: 10px 20px;
    background-color: #007bff !important; /* Bootstrap blue */
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.create-season::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vw);
    background-color: rgb(0, 0, 0, .4);
    z-index: -1;
}

.create-season h1,
.create-season label,
.create-season small,
.create-season input,
.create-season button,
.player-list-item {
  color: white;
}

.create-season input::placeholder {
  color: white; /* Darker color for placeholder text for contrast */
  opacity: 1; /* Make placeholder fully visible */
}

.form-container {
  margin-top: 20%;
  margin-right: 10%;
  height: calc(100vw);
  width: calc(100vw);
}

.player-list-container {
  flex-basis: 50%;
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

.player-list-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-input label,
.player-input input,
.player-input button {
  display: block;
  margin-bottom: 5px;
}

.player-input {
  margin-bottom: 15px;
  background: grey;
  padding: 10px;
  border-radius: 5px;
}

.create-season input[type="text"],
.create-season input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-season input:focus{
    outline: none; /* Removes the default outline */
    border: 2px solid #ffdd00; /* Change this color to your preferred focus color */
}
.create-season button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: grey; /* Blue background for the button */
  color: black; /* White text for contrast */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-season button:hover {
  background-color: #0056b3;
}

/* Additional styles for delete and edit buttons for better visibility */
.create-season .delete-button,
.create-season .edit-button {
  background-color: #ff0000; /* Red background for delete button */
  color: black; /* White text for contrast */
  padding: 5px 10px;
  margin-left: 10px;
}

.create-season .edit-button {
  background-color: #f0ad4e; /* Orange background for edit button */
}

.jersey-error {
  color: #ff0000; /* Red color for error messages */
  margin-top: 5px;
  margin-bottom: 10px;
}
