/* Container: Adjust to flex-start for left alignment */
.selector-field-container {
  display: flex;
  flex-direction: column; /* Keeps label on top, select below */
  align-items: flex-start; /* Left aligns children */
}

/* Label: Ensure text is left aligned */
.selector-label {
  margin-bottom: 0.3125rem;
  color: var(--header-color);
  font-weight: bold;
  font-size: 1rem;
  text-align: left; /* Make sure the text is left aligned */
}

/* Select: If the select box is 100% width, it will naturally align left */
.selector-select {
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
  width: 100%; /* If you want full width, otherwise adjust as needed */
  max-width: 20rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--card-bg-color);
  color: var(--text-color-dark);
  box-shadow: var(--box-shadow);
  appearance: none;
  cursor: pointer;
  position: relative;
}


.selector-select:focus {
  outline: 0.75rem solid var(--accent-color); /* Accent color for focus state */
}

/* Custom dropdown arrow using CSS only */
.selector-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  border: 0.375rem solid transparent;
  border-top-color: var(--text-color-dark); /* Arrow color */
  pointer-events: none; /* Ensure clicks pass through to the select element */
}

/* Remove margin from the last selector - now handled in the main container */
.selector-select:last-child {
  margin-right: 0;
}
