.stat-card {
    flex: 0 0 20%; /* Adjust the percentage to fit 4 cards in a row */
    padding: 1.25rem;
    box-sizing: border-box;
    margin: 0.625rem;
    text-align: center;
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stat-icon {
    width: 3.125rem; /* or any size you prefer */
    height: auto;
    margin-bottom: 0.625rem;
  }
  
  .stat-title {
    font-size: 1.25em;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.3125rem;
  }
  
  .stat-value {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-color); /* Use a CSS variable or specific color */
  }
  
  .stat-card:hover {
    box-shadow: 0 0.3125rem 0.9375rem rgba(0,0,0,0.1);
    transform: translateY(-0.3125rem);
  }
  
  @media (max-width: 48rem) {
    .stat-card {
      flex: 0 0 48%; /* Adjust for mobile to fit 2 cards in a row */
      margin: 0.625rem;
    }
  }
  
  @media (max-width: 30rem) {
    .stat-card {
      flex: 0 0 100%; /* Full width on very small screens */
      margin: 0.625rem 0;
    }
  }
  